{% extends 'django_project/base.html' %}

{% block title %}RED Diesel: 404 — страница не найдена{% endblock title %}

{% block home_section %}
<div>
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Ошибка 404</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block banner_section %}
{% endblock %}

{% block services_section %}
{% endblock %}

{% block tabs_section %}
    <section class="tabs-section">
        <div class="container">
            <div class="row">
                    <div class="col-sm-12">
                        <div class="about-us-box">
                            <h2>Запрашиваемая страница не найдена</h2>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-us-box">
                        <p>Страница, которую вы ищете, была удалена, перемещена или никогда не существовала. Возможно, вы ошиблись в наборе адреса, либо воспользовались устаревшей ссылкой.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock  %}

{% block extra_head %} {% endblock  %}