{% extends 'rd/base.html' %}
{% block title %}О компании RED Diesel (ООО "РЕД ДИЗЕЛЬ"){% endblock %}

{% block description %}Ваш надёжный поставщик запчастей ведущих мировых брендов для грузовиков и спецтехники отечественного и зарубежного производства.{% endblock description %}

{% block home_section %}
{% endblock %}

{% block banner_section %}
    <section class="page-banner-section about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>О нас</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block services_section %}
{% endblock %}

{% block tabs_section %}
    <section class="tabs-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-us-box">
                        <h2>Нам не всё равно</h2>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="about-us-lyrics">
                                    <a href="#"><i class="fa fa-hand-o-right"></i></a>
                                    <span class="big">Мы знаем,</span>
                                    <span class="italic">чего стоит один день простоя автомобиля для автопарка любого предприятия.</span>
                                </div>
                                <div class="about-us-lyrics">
                                    <a href="#"><i class="fa fa-hand-o-right"></i></a>
                                    <span class="big">Мы понимаем,</span>
                                    <span class="italic">как сложно найти достойного поставщика автозапчастей в наше время.</span>
                                </div>
                                <div class="about-us-lyrics">
                                    <a href="#"><i class="fa fa-hand-o-right"></i></a>
                                    <span class="big">Мы уверены,</span>
                                    <span class="italic">что честность и открытость — основа долгосрочного и плодотворного сотрудничества.</span>
                                </div>
                                <div class="about-us-lyrics">
                                    <a href="#"><i class="fa fa-hand-o-right"></i></a>
                                    <span class="big">Мы гарантируем,</span>
                                    <span class="italic">что не подведём Вас!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- team section
        ================================================== -->
    <section class="tabs-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-us-box">
                        <h2>Нас выбирают</h2>
                        <div class="row">
                            <div class="col-sm-3">
                                <a class="zoom" href="/static/images/uhrenholt.jpg"><img class="blag" src="/static/images/uhrenholt.jpg" width="100%" alt=""></a>
                                <p style="text-align:center; margin-top:5px;">ООО "Уренхольт", г. Москва</p>
                            </div>
                            <div class="col-sm-3">
                                <a class="zoom" href="/static/images/podem-1.jpg"><img class="blag" src="/static/images/podem-1.jpg" width="100%" alt=""></a>
                                <p style="text-align:center; margin-top:5px;">ООО "Подъем-1", г. Реутов</p>
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End team section -->

    <section class="tabs-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-us-box">
                        <h2>Почему сотрудничать с нами выгодно?</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="about-us-post">
                                    <a href="#"><i class="fa fa-check-square-o"></i></a>
                                    <p class="advantages">Налаженные связи с поставщиками</p>
                                    <span>в России, Китае, Европе и Америке.</span>
                                </div>
                                <div class="about-us-post">
                                    <a href="#"><i class="fa fa-check-square-o"></i></a>
                                    <p class="advantages">Информирование клиентов</p>
                                    <span>обо всех этапах выполнения заказа.</span>
                                </div>
                                <div class="about-us-post">
                                    <a href="#"><i class="fa fa-check-square-o"></i></a>
                                    <p class="advantages">Персональный менеджер</p>
                                    <span>проконсультирует по любым вопросам и будет помогать на всех этапах сделки.</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="about-us-post">
                                    <a href="#"><i class="fa fa-check-square-o"></i></a>
                                    <p class="advantages">Собственная служба доставки</p>
                                    <span>обеспечивает оперативную отгрузку заказов</span>
                                </div>
                                <div class="about-us-post">
                                    <a href="#"><i class="fa fa-check-square-o"></i></a>
                                    <p class="advantages">Доставка во все регионы РФ</p>
                                    <span>любыми транспортными компаниями.</span>
                                </div>
                                <div class="about-us-post">
                                    <a href="#"><i class="fa fa-check-square-o"></i></a>
                                    <p class="advantages">Выгодные условия сотрудничества</p>
                                    <span>для оптовиков и постоянных клиентов</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_head %} {% endblock  %}