{% extends 'rd/base.html' %}

{% block title %}Купить новые двигатели Cummins{% endblock title %}

{% block description %}Новые двигатели Cummins в наличии и на заказ по лучшим ценам. Полная комплектация. Гарантия завода-изготовителя. Доставка по всей России.{% endblock description %}

{% block home_section %}
{% endblock %}

{% block banner_section %}
    <section class="page-banner-section engines">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Новые двигатели Cummins</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block services_section %}
{% endblock %}

{% block tabs_section %}
    <section class="tabs-section">
        <div class="container">
            <div class="row">
                    <div class="col-sm-12">
                        <div class="about-us-box">
                            <h2>Двигатели Камминз на ГАЗель, КамАЗ, МАЗ</h2>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-us-box">
                        <p style="margin-bottom:20px">Двигатели самых популярных в России серий ISF и ISBe выпускаются на совместных предприятиях Cummins с Beiqi Foton Motor в Китае и ОАО "КамАЗ" в России. Налаженные партнёрские отношения с этими заводами позволяют нам привезти на заказ любой двигатель Cummins для автомобилей марки ГАЗ, КамАЗ, ПАЗ, ЛиАЗ, НефАЗ и др. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="about-us-box">
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-hand-o-right"></i></a>
                            <span>Поставка напрямую с заводов Cummins.</span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-hand-o-right"></i></a>
                            <span>Гарантия завода-изготовителя.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="about-us-box">
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-hand-o-right"></i></a>
                            <span>Полная комплектация (в сборе с навесным оборудованием)</span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-hand-o-right"></i></a>
                            <span>Срок поставки от 2-х до 7-ми дней.</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End tabs section -->

    <!-- tabs-section
        ================================================== -->
    <section class="tabs-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-us-box">
                        <h2>Каталог двигателей</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/isf-2-8/"><img src="/static/images/cummins-isf-2-8.jpg" alt=""></a>
                        <h5>Cummins ISF 2.8</h5>
                        <span>395 тыс. руб.</span>
                        <p>ГАЗель 3302 «Бизнес», ГАЗель NEXT и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/isf-2-8/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/isf-3-8/"><img src="/static/images/cummins-isf-3-8.jpg" alt=""></a>
                        <h5>Cummins ISF 3.8</h5>
                        <span>445 тыс. руб.</span>
                        <p>ГАЗ 3310 «Валдай», ГАЗ 3309, МАЗ, ПАЗ, Foton и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/isf-3-8/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <img src="/static/images/cummins-4isbe.jpg" alt="">
                        <h5>Cummins 4ISBe</h5>
                        <span>750 тыс.руб.</span>
                        <p>КамАЗ, МАЗ, ПАЗ, AVIA, Higer и др.</p>
                        <a href="#">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <img src="/static/images/cummins-6isbe.jpg" alt="">
                        <h5>Cummins 6ISBe 300</h5>
                        <span>970 тыс. руб.</span>
                        <p>КамАЗ, МАЗ, НефАЗ, ЛиАЗ, AVIA, Higer и др.</p>
                        <a href="#">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_head %} {% endblock  %}