{% load staticfiles %}
<!doctype html>

<html lang="ru" class="no-js">
    <head>
        <title>{% block title %}RED Diesel — запчасти и двигатели Cummins.{% endblock title %}</title>
    </head>
    <body>

    {% block content %}
        В базе находится {{ details|length }} деталей
        <hr>
        Из excel загружено {{ all_excel_data|length }}
        Отличающиеся объекты: {{ difference_objects|length }}
        <table border="1">
            <tr>
                <th>Объект</th>
                <th>Внутренний артикул</th>
                <th>Артикул</th>
                <th>Название</th>
                <th>Производитель</th>
                <th>Двигатель</th>
                <th>Авто</th>
                <th>Цена</th>
                <th>Наличие на складе</th>
                <th>Категории двигателя</th>
                <th>Категории автомобиля</th>
            </tr>
        {% for co in difference_objects %}
            <tr>
                <th rowspan="2">{{ co.instance }}</th>
                {% for key, diff in co.differences.items %}
                    <th {% if diff %}bgcolor="red"{% endif %}>{{ diff.instance_value}}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for key, diff in co.differences.items %}
                    <th {% if diff %}bgcolor="green"{% endif %}>{{ diff.excel_value}}</th>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
        Новые объекты:
        {{  new_objects|length}}
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
              {{ form.excel_file }}
            <button>Отправить</button>
            <input type="checkbox" name="load"/>
        </form>
    {% endblock %}
    </body>
</html>