{% extends 'django_project/base.html' %}

{% block title %}Купить двигатель Cummins 4ISBe на КАМАЗ, ПАЗ, МАЗ, AVIA, Higer по цене 660000 руб.{% endblock title %}

{% block description %}Новые двигатели Cummins 4ISBe на КАМАЗ, ПАЗ, МАЗ, AVIA, Higer. Полная комплектация. Гарантия завода-изготовителя. Доставка по всей России.{% endblock description %}

{% block extra_head %}
    <script type="text/javascript" src="/static/js/buy_engine.js"></script>
    <script type="text/javascript" src="/static/js/question.js"></script>
{% endblock %}

{% block home_section %}
{% endblock %}

{% block banner_section %}
			<div>
				<section class="page-banner-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h1>Продажа двигателей Cummins 4ISBe 150, 185, 210</h1>
							</div>
						</div>
						<div class="row">
			                <div class="col-sm-12">
			                    <ul class="page-depth" itemscope itemtype="http://schema.org/BreadcrumbList">
			                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="http://red-diesel.ru/"><span itemprop="name">Главная</span></a><meta itemprop="position" content="1" /></li>
									<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="http://red-diesel.ru/dvigateli-cummins/"><span itemprop="name">Двигатели в сборе</span></a><meta itemprop="position" content="2" /></li>
									<li itemprop="itemListElement"><span itemprop="name">Cummins 4ISBe</span><meta itemprop="position" content="3" /></li>
			                    </ul>
			                </div>
            			</div>
					</div>
				</section>
{% endblock %}

{% block services_section %}
{% endblock %}

{% block tabs_section %}
				<section class="tabs-section">
					<div class="container">
						<div class="row">
								<div class="col-sm-7">
									<div class="product-page">
										<a class="zoom" href="/static/upload/engines/cummins-4isbe-4-5.jpg"><img class="img-border" src="/static/upload/engines/cummins-4isbe-4-5.jpg" width="100%" alt=""></a>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="product-page">
										<h2>Cummins 4isbe (новый)</h2>
										<ul class="specs">
											<li>Состояние: <i>новый (без пробега)</i></li>
											<li>Комплектация: <i>в сборе с навесным</i></li>
											<li>Наличие: <i>в наличии</i></li>
											<li>Доставка: <i>по всей России</i></li>
											<li>Цена (с НДС):</li>
										</ul>
										<p class="price">660 000 &#8381;</p>
										</ul>
										<div class="guide-box">
											<ul>
												<li>
													<a class="buy-button open-popup-link" href="#buy-engine">Купить двигатель</a>
												</li>
												<li>
													<a class="buy-button open-popup-link" href="#engine-question">Задать вопрос</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>				
					</div>
				</section>
				<!-- End tabs section -->

				<!-- tabs-section 
					================================================== -->
				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Характеристики</h3>
									</div>
									<ul class="specs-dotted">
										<li>
											<span>Мощность</span>
											<span>150 — 210 л.с. / 112 — 157 кВт</span>
										</li>								
										<li>
											<span>Крутящий момент</span>
											<span>651 — 850 Нм</span>
										</li>
										<li>
											<span>Цилиндров</span>
											<span>4</span>
										</li>
										<li>
											<span>Рабочий объём</span>
											<span>3.9 л / 4.5 л</span>
										</li>
										<li>
											<span>Экологический класс</span>
											<span>Евро 3 / Евро 4 / Евро 5</span>
										</li>
										<li>
											<span>"Сухой" вес</span>
											<span>366 кг</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-6" style="text-align: center; vertical-align: middle">
								<img src="/static/upload/engines/cummins-4isbe-scheme-transparency.png" width="62%" alt="">
							</div>
						</div>
					</div>
				</section>
				<!-- End tabs section -->

				<!-- tabs-section 
					================================================== -->
				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-6" style="text-align: center">
								<img src="/static/upload/engines/dvigatel-cummins-4isbe-na-kamaz.png" width="100%" alt="">
							</div>
							<div class="col-sm-6">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Применяемость</h3>
									</div>
									<ul class="specs-dotted">
										<li>
											<span>КАМАЗ</span>
											<span>4308, 65115, 65117</span>
										</li>								
										<li>
											<span>МАЗ</span>
											<span>"Зубрёнок", 4581W2-420-020 (-050)</span>
										</li>
										<li>
											<span>ПАЗ</span>
											<span>3204, 320412-03, 320470-03, 3237</span>
										</li>
										<li>
											<span>AVIA</span>
											<span>D60, D75, D80, D85, D90, D100, D110, D120</span>
										</li>
										<li>
											<span>Higer</span>
											<span>KLQ 6885 Q</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-8">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Другие двигатели этой серии</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="related_products">
								<div class="col-sm-3">
									<a href="http://red-diesel.ru/dvigateli-cummins/6isbe/"><img class="img-border" src="/static/images/cummins-6isbe.jpg" width="100%" alt=""></a>
									<h5><a href="http://red-diesel.ru/dvigateli-cummins/6isbe/">Cummins 6ISBe</a></h5>
									<p>КамАЗ, НефАЗ, ЛиАЗ, AVIA, Higer и др.</p>
									<p class="related_price">от 820 тыс. &#8381;</p>
								</div>
								<div class="col-sm-3">
									<a href="http://red-diesel.ru/dvigateli-cummins/4bt/"><img class="img-border" src="/static/images/cummins-4bt.jpg" width="100%" alt=""></a>
									<h5><a href="http://red-diesel.ru/dvigateli-cummins/4bt/">Cummins 4BT</a></h5>
									<p>Dynapac CA300D, Mecalac 12MTX, Yutong ZK6737D, КамАЗ 4308, НефАЗ 3299, ПАЗ 3203 и др.</p>
									<p class="related_price">Цена по запросу</p>
								</div>
								<div class="col-sm-3">
									<a href="http://red-diesel.ru/dvigateli-cummins/6bt/"><img class="img-border" src="/static/images/cummins-6bt.jpg" width="100%" alt=""></a>
									<h5><a href="http://red-diesel.ru/dvigateli-cummins/6bt/">Cummins 6BT</a></h5>
									<p>Chenggong CG932H, Dynapac CA500D, Lonking CDM833, SDLG LG930-1, Shandong SEM 638 и др.</p>
									<p class="related_price">Цена по запросу</p>
								</div>
								<div class="col-sm-3">
									<a href="http://red-diesel.ru/dvigateli-cummins/eqb/"><img class="img-border" src="/static/images/cummins-eqb.jpg" width="100%" alt=""></a>
									<h5><a href="http://red-diesel.ru/dvigateli-cummins/eqb/">Cummins EQB</a></h5>
									<p>Грузовики КамАЗ, автобусы ПАЗ, КаВЗ и НефАЗ и др.</p>
									<p class="related_price">Цена по запросу</p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<!-- banner-section 
                    ================================================== -->
                <section class="banner-section">
                    <div class="container">
                        <p class="slogan">Остались вопросы? Нужна консультация? Пишите!</p>
                        <a href="#engine-question" class="button-one open-popup-link">Задать вопрос</a>
                    </div>
                </section>
    			<!-- End banner section -->

				<div id="buy-engine" class="white-popup mfp-hide">
					<form id="buy-engine-form" method="post">
                    {% csrf_token %}
  						<p class="h1">Заявка на двигатель Cummins 4ISBe</p>
  					<div class="row">
                        <input type="hidden" name="engine_model" value="4ISBe">
  						<div class="col-md-6">
  							<span>Экологический класс</span>
  							<input type="text" name="ecology">
  						</div>
  						<div class="col-md-6">
  							<span>Автомобиль</span>
  							<input type="text" name="car">
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Ваше имя или название организации</span>
  							<input type="text" name="name">
  						</div>
  						<div class="col-md-6">
  							<span>Город</span>
  							<input type="text" name="city">
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Контактный телефон</span>
  							<input type="tel" name='phone' id="id_buy_phone">
                            <span id="buy-phone-error" class="error-view hidden">Заполните телефон</span>
  						</div>
  						<div class="col-md-6">
  							<span>Email*</span>
  							<input type="email" name="mail">
                            <span id="buy-mail-error" class="error-view hidden">Ошибочно заполнено поле</span>

  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<span>Комментарии к заказу</span>
  							<textarea name="comment"></textarea>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<input type="submit" id="id-buy-submit-button">
  						</div>
  					</div>
                    <div id="buy-success-send" class="hidden">Успешно отправлено!</div>
                    <div id="buy-error-send" class="error-view hidden">Ошибка формы!</div>
  					</form>
				</div>

				<div id="engine-question" class="white-popup mfp-hide">
					<form id="engine-question-form" method="post">
                    {% csrf_token %}
  						<p class="h1">Вопрос по двигателю Cummins 4ISBe</p>
                        <input type="hidden" name="engine_model" value="4ISBe">
  					<div class="row">
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Контактный телефон</span>
  							<input type="tel" name="phone" id="id_question_phone">
                            <span id="question-phone-error" class="error-view hidden">Заполните телефон</span>
  						</div>
  						<div class="col-md-6">
  							<span>Email*</span>
  							<input type="email" name="mail">
                            <span id="question-mail-error" class="error-view hidden">Ошибочно заполнено поле</span>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<span>Ваш вопрос*</span>
  							<textarea name="question"></textarea>
                            <span id="question-comment-error" class="error-view hidden">Введите ваш вопрос</span>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<input type="submit" id="id-question-submit-button">
  						</div>
  					</div>
                    <div id="question-success-send" class="hidden">Успешно отправлено!</div>
                    <div id="question-error-send" class="error-view hidden">Ошибка формы!</div>

  					</form>
				</div>
			</div>
{% endblock %}

