{% extends 'django_project/base.html' %}

{% block title %}Купить новые двигатели Cummins{% endblock title %}

{% block description %}Новые двигатели Cummins в наличии и на заказ по лучшим ценам. Полная комплектация. Гарантия завода-изготовителя. Доставка по всей России.{% endblock description %}

{% block home_section %}
{% endblock %}

{% block banner_section %}
<div>
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Продажа новых двигателей Cummins</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="page-depth" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="http://red-diesel.ru/"><span itemprop="name">Главная</span></a><meta itemprop="position" content="1" /></li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="name">Двигатели Cummins в сборе</span><meta itemprop="position" content="2" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block services_section %}
{% endblock %}

{% block tabs_section %}
    <!-- <section class="tabs-section">
        <div class="container">
            <div class="row">
                    <div class="col-sm-12">
                        <div class="about-us-box">
                            <h2>Двигатели Камминз на ГАЗель, КамАЗ, МАЗ</h2>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-us-box">
                        <p style="margin-bottom:20px">Двигатели самых популярных в России серий ISF и ISBe выпускаются на совместных предприятиях Cummins с Beiqi Foton Motor в Китае и ОАО "КамАЗ" в России. Налаженные партнёрские отношения с этими заводами позволяют нам привезти на заказ любой двигатель Cummins для автомобилей марки ГАЗ, КамАЗ, ПАЗ, ЛиАЗ, НефАЗ и др. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="about-us-box">
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-hand-o-right"></i></a>
                            <span>Поставка напрямую с заводов Cummins.</span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-hand-o-right"></i></a>
                            <span>Гарантия завода-изготовителя.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="about-us-box">
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-hand-o-right"></i></a>
                            <span>Полная комплектация (в сборе с навесным оборудованием)</span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-hand-o-right"></i></a>
                            <span>Срок поставки от 2-х до 7-ми дней.</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> -->
    <!-- End tabs section -->

    <!-- tabs-section
        ================================================== -->
    <section class="tabs-section engines-catalog">
        <div class="container">
<!--             <div class="row">
                <div class="col-sm-12">
                    <div class="about-us-box">
                        <h2>Каталог двигателей</h2>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/isf-2-8/"><img src="/static/images/cummins-isf-2-8.jpg" alt=""></a>
                        <h5>Cummins ISF 2.8</h5>
                        <span>460 тыс. руб.</span>
                        <p>ГАЗель 3302 «Бизнес», ГАЗель NEXT и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/isf-2-8/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/isf-3-8/"><img src="/static/images/cummins-isf-3-8.jpg" alt=""></a>
                        <h5>Cummins ISF 3.8</h5>
                        <span>445 тыс. руб.</span>
                        <p>ГАЗ 3310 «Валдай», ГАЗ 3309, МАЗ, ПАЗ, Foton и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/isf-3-8/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/4isbe/"><img src="/static/images/cummins-4isbe.jpg" alt=""></a>
                        <h5>Cummins 4ISBe</h5>
                        <span>от 736 тыс. руб.</span>
                        <p>КамАЗ, МАЗ, ПАЗ, AVIA, Higer и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/4isbe/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/6isbe/"><img src="/static/images/cummins-6isbe.jpg" alt=""></a>
                        <h5>Cummins 6ISBe</h5>
                        <span>от 783 тыс. руб.</span>
                        <p>КамАЗ, НефАЗ, ЛиАЗ, AVIA, Higer и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/6isbe/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/4bt/"><img src="/static/images/cummins-4bt.jpg" alt=""></a>
                        <h5>Cummins 4BT</h5>
                        <span>Цена по запросу</span>
                        <p>Dynapac CA300D, Mecalac 12MTX, Yutong ZK6737D, КамАЗ 4308, НефАЗ 3299, ПАЗ 3203 и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/4bt/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/6bt/"><img src="/static/images/cummins-6bt.jpg" alt=""></a>
                        <h5>Cummins 6BT</h5>
                        <span>Цена по запросу</span>
                        <p>Chenggong CG932H, Dynapac CA500D, Lonking CDM833, SDLG LG930-1, Shandong SEM 638 и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/6bt/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/eqb/"><img src="/static/images/cummins-eqb.jpg" alt=""></a>
                        <h5>Cummins EQB</h5>
                        <span>760 тыс. руб.</span>
                        <p>Грузовики КамАЗ, автобусы ПАЗ, КаВЗ и НефАЗ и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/eqb/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/qsb/"><img src="/static/images/cummins-qsb.jpg" alt=""></a>
                        <h5>Cummins QSB</h5>
                        <span>от 792 тыс. руб.</span>
                        <p>Dynapac CA252D, Hyundai R210NLC-9, Weihai Guangtai WGQY27, ЧЕТРА Т11, ЧЕТРА Т9 и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/qsb/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/6ct/"><img src="/static/images/cummins-c-8-3.jpg" alt=""></a>
                        <h5>Cummins C8.3</h5>
                        <span>Цена по запросу</span>
                        <p>Changlin 957H, Dressta 534C, Liugong CLG 418, ROBEX 320 LC-7, SDLG LG956, XCMG GR215 и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/6ct/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/qsc/"><img src="/static/images/cummins-qsc.jpg" alt=""></a>
                        <h5>Cummins QSC</h5>
                        <span>Цена по запросу</span>
                        <p>Acros 540, Buhler Versatile 250, Dressta TD-20M Extra, New Holland TG285, ЧЕТРА 15 и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/qsc/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/isc/"><img src="/static/images/cummins-isc.jpg" alt=""></a>
                        <h5>Cummins ISC</h5>
                        <span>Цена по запросу</span>
                        <p>Freightliner, KENWORTH T-300 и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/isc/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/l/"><img src="/static/images/cummins-l.jpg" alt=""></a>
                        <h5>Cummins L</h5>
                        <span>Цена по запросу</span>
                        <p>КамАЗ 65117, 65116, 65115, 53228, 44108, 43118; DongFeng и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/l/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/isle/"><img src="/static/images/cummins-isl.jpg" alt=""></a>
                        <h5>Cummins ISLe</h5>
                        <span>от 1 млн. 100 тыс. руб.</span>
                        <p>DongFeng 45422, Higer KLQ 6118 G, King Long XMQ6127C, Yutong ZK6118HGA, КамАЗ 43118 и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/isle/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/qsl/"><img src="/static/images/cummins-qsl.jpg" alt=""></a>
                        <h5>Cummins QSL</h5>
                        <span>Цена по запросу</span>
                        <p>Bombardier BR-2000, CASE MX310, Hyundai HL770-7A, SANY SR220C, XCMG QY40K, Кировец К-708 и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/qsl/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/m11/"><img src="/static/images/cummins-m11.jpg" alt=""></a>
                        <h5>Cummins M11</h5>
                        <span>Цена по запросу</span>
                        <p>Tana 27F, БелАЗ 78231, МОАЗ-40486, МОАЗ-60071, ЧЕТРА ТГ-301 К и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/m11/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/qsm/"><img src="/static/images/cummins-qsm.jpg" alt=""></a>
                        <h5>Cummins QSM</h5>
                        <span>Цена по запросу</span>
                        <p>Buhler Versatile 2335, Hyundai HL780-3A, New Holland D350, БелАЗ 7540K, ЧЕТРА Т-20.01 и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/qsm/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/isme/"><img src="/static/images/cummins-ism.jpg" alt=""></a>
                        <h5>Cummins ISMe</h5>
                        <span>Цена по запросу</span>
                        <p>Freightliner C112, International 7600, King Long XMQ6127C, MAN ERF ECS 11.42MT и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/isme/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/isx/"><img src="/static/images/cummins-isx15.jpg" alt=""></a>
                        <h5>Cummins ISX</h5>
                        <span>Цена по запросу</span>
                        <p>International 9200i, Kenworth T2000, PETERBILT 387, Volvo VNL 630, КамАЗ 65228 и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/isx/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/qsx/"><img src="/static/images/cummins-qsx.jpg" alt=""></a>
                        <h5>Cummins QSX</h5>
                        <span>Цена по запросу</span>
                        <p>Buhler Versatile HHT, New Holland T9060, БелАЗ 65800, ЧЕТРА ТГ-511 и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/qsx/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/k19/"><img src="/static/images/cummins-k19.jpg" alt=""></a>
                        <h5>Cummins K19</h5>
                        <span>Цена по запросу</span>
                        <p>БелАЗ 7548, БелАЗ 7555, БелАЗ 7822, ЧЕТРА Т-35, ЧЕТРА ТГ-503 и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/k19/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/qsk19/"><img src="/static/images/cummins-qsk19.jpg" alt=""></a>
                        <h5>Cummins QSK19</h5>
                        <span>Цена по запросу</span>
                        <p>БелАЗ 7555E, БелАЗ 7555F, ЧЕТРА ПК-120, ЧЕТРА Т-35 и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/qsk19/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-post">
                        <a href="http://red-diesel.ru/dvigateli-cummins/a/"><img src="/static/images/cummins-a.jpg" alt=""></a>
                        <h5>Cummins A1400/1700/2000/2300</h5>
                        <span>Цена по запросу</span>
                        <p>МКСМ-800К, Daewoo D15 S-2, G15 S-2, D20 SC-2 и др.</p>
                        <a href="http://red-diesel.ru/dvigateli-cummins/a/">Подробнее</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block extra_head %} {% endblock  %}