{% extends 'django_project/base.html'%}

{% block extra_head %}
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="/static/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.themepunch.revolution.min.js"></script>
	<!-- Revolution slider -->
	<script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript">
        $(function(){
            console.log('{{ CITY }}')
        })
    </script>

{% endblock %}