{% extends 'django_project/base.html' %}


{% block title %}Купить двигатель Cummins ISF 2.8 по цене 430000 рублей.{% endblock title %}

{% block description %}Новые двигатели Cummins ISF 2.8 на ГАЗ, ПАЗ, Foton. Полная комплектация. Гарантия завода-изготовителя. Доставка по всей России.{% endblock description %}

{% block extra_head %}
    <script type="text/javascript" src="/static/js/buy_engine.js"></script>
    <script type="text/javascript" src="/static/js/question.js"></script>
{% endblock %}


{% block home_section %}
{% endblock %}

{% block banner_section %}
				<section class="page-banner-section engines">
					<div class="container">
						<div class="row">
							<div class="col-sm-7">
								<h1>Продажа двигателей Cummins ISF 2.8</h1>
							</div>
							<div class="col-sm-5">
								<ul class="page-depth">
									<li><a href="http://red-diesel.ru/">Главная</a></li>
									<li><a href="http://red-diesel.ru/dvigateli-cummins/">Двигатели Cummins</a></li>
									<li>Cummins ISF 2.8</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
{% endblock %}

{% block services_section %}
{% endblock %}

{% block tabs_section %}
				<section class="tabs-section">
					<div class="container">
						<div class="row">
								<div class="col-sm-6">
									<div class="product-page">
										<a class="zoom" href="/static/upload/engines/cummins-isf-2-8.jpg"><img class="img-border" src="/static/upload/engines/cummins-isf-2-8.jpg" width="100%" alt=""></a>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="product-page">
										<h2>Cummins ISF 2.8 (новый)</h2>
										<ul class="specs">
											<li>Состояние: <i>новый (без пробега)</i></li>
											<li>Комплектация: <i>полная, включая ЭБУ</i></li>
											<li>Упаковка: <i>заводская (деревянный поддон)</i></li>
											<li>Производитель: <i>Cummins (BFCEC)</i></li>
											<li>Наличие: <i>в наличии</i></li>
											<li>Цена (с НДС):</li>
										</ul>
										<p class="price">430 000 &#8381;</p>
										<div class="guide-box">
											<ul>
												<li>
													<a class="buy-button open-popup-link" href="#buy-engine">Купить двигатель</a>
												</li>
												<li>
													<a class="buy-button open-popup-link" href="#engine-question">Задать вопрос</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>				
					</div>
				</section>
				<!-- End tabs section -->

				<!-- tabs-section 
					================================================== -->
				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<div class="about-us-box">
									<div class="about-us-lyrics">
										<i class="fa fa-check"></i>
										<span>Прямая поставка с официального завода Cummins в Китае — Beijing Foton Cummins Engine Company Ltd.</span>
									</div>
									<div class="about-us-lyrics">
										<i class="fa fa-check"></i>
										<span>Гарантия завода-изготовителя.</span>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="about-us-box">
									<div class="about-us-lyrics">
										<i class="fa fa-check"></i>
										<span>Полная комплектация (в сборе с навесным оборудованием и ЭБУ)</span>
									</div>
									<div class="about-us-lyrics">
										<i class="fa fa-check"></i>
										<span>Срок поставки от 2-х до 7-ми дней.</span>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</section>
				<!-- End tabs section -->

				<!-- tabs-section 
					================================================== -->
				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Характеристики</h3>
									</div>
									<ul class="specs-dotted">
										<li>
											<span>Модификации</span>
											<span>s3129, s4129</span>
										</li>
										<li>
											<span>Применяемость</span>
											<span>ГАЗель «Бизнес» (ГАЗ-3302, ГАЗ-2705)</span>
										</li>
											<ul style="padding-left: 0">
												<li>
													<span>&nbsp;</span>
													<span>ГАЗель «Next»</span>
												</li>
												<li>
													<span>&nbsp;</span>
													<span>Соболь «Бизнес» (ГАЗ-2752, ГАЗ-22171)</span>
												</li>
												<li>
													<span>&nbsp;</span>
													<span>Соболь «Баргузин» (ГАЗ-2217)</span>
												</li>
												<li>
													<span>&nbsp;</span>
													<span>ПАЗ 3237-05, ПАЗ 4230-05</span>
												</li>
												<li>
													<span>&nbsp;</span>
													<span>Foton Aumark</span>
												</li>
											</ul>									
										<li>
											<span>Экологический класс</span>
											<span>Евро 3 / Евро 4</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-6" style="text-align: center">
								<img src="/static/upload/engines/isf-2-8.png" width="65%" alt="">
							</div>
						</div>
					</div>
				</section>
				<!-- End tabs section -->

				<!-- tabs-section 
					================================================== -->
				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-6" style="text-align: center">
								<img src="/static/upload/engines/upakovka.png" width="70%" alt="">
							</div>
							<div class="col-sm-6">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Габариты</h3>
									</div>
									<ul class="specs-dotted">
										<li>
											<span>Вес нетто</span>
											<span>248 кг</span>
										</li>
										<li>
											<span>Вес брутто</span>
											<span>288 кг</span>
										</li>
										<li>
											<span>Размер в упаковке</span>
										</li>
											<ul>
												<li>
													<span>Высота</span>
													<span>957 мм</span>
												</li>
												<li>
													<span>Длина</span>
													<span>820 мм</span>
												</li>
												<li>
													<span>Ширина</span>
													<span>740 мм</span>
												</li>
											</ul>
										<li>
											<span>Упаковка</span>
											<span>деревянный короб</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>

				<div id="buy-engine" class="white-popup mfp-hide">
					<form id="buy-engine-form" method="post">
                    {% csrf_token %}
  						<p class="h1">Заявка на двигатель Cummins ISF 2.8</p>
  					<div class="row">
                        <input type="hidden" name="engine_model" value="isf-2-8">
  						<div class="col-md-6">
  							<span>Экологический класс</span>
  							<input type="text" name="ecology">
  						</div>
  						<div class="col-md-6">
  							<span>Автомобиль</span>
  							<input type="text" name="car">
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Ваше имя или название организации</span>
  							<input type="text" name="name">
  						</div>
  						<div class="col-md-6">
  							<span>Город</span>
  							<input type="text" name="city">
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Контактный телефон</span>
  							<input type="tel" name='phone' id="id_buy_phone">
                            <span id="buy-phone-error" class="error-view hidden">Заполните телефон</span>
  						</div>
  						<div class="col-md-6">
  							<span>Email*</span>
  							<input type="email" name="mail">
                            <span id="buy-mail-error" class="error-view hidden">Ошибочно заполнено поле</span>

  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<span>Комментарии к заказу</span>
  							<textarea name="comment"></textarea>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<input type="submit" id="id-buy-submit-button">
  						</div>
  					</div>
                    <div id="buy-success-send" class="hidden">Успешно отправлено!</div>
                    <div id="buy-error-send" class="error-view hidden">Ошибка формы!</div>
  					</form>
				</div>

				<div id="engine-question" class="white-popup mfp-hide">
					<form id="engine-question-form" method="post">
                    {% csrf_token %}
  						<p class="h1">Вопрос по двигателю Cummins ISF 2.8</p>
                        <input type="hidden" name="engine_model" value="isf-2-8">
  					<div class="row">
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Контактный телефон</span>
  							<input type="tel" name="phone" id="id_question_phone">
                            <span id="question-phone-error" class="error-view hidden">Заполните телефон</span>
  						</div>
  						<div class="col-md-6">
  							<span>Email*</span>
  							<input type="email" name="mail">
                            <span id="question-mail-error" class="error-view hidden">Ошибочно заполнено поле</span>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<span>Ваш вопрос*</span>
  							<textarea name="question"></textarea>
                            <span id="question-comment-error" class="error-view hidden">Введите ваш вопрос</span>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<input type="submit" id="id-question-submit-button">
  						</div>
  					</div>
                    <div id="question-success-send" class="hidden">Успешно отправлено!</div>
                    <div id="question-error-send" class="error-view hidden">Ошибка формы!</div>

  					</form>
				</div>

{% endblock %}