{% extends 'django_project/base.html' %}

{% block title %}Купить двигатель Cummins ISM, ISMe{% endblock title %}

{% block description %}Новые двигатели Cummins ISM, ISMe. Полная комплектация. Гарантия завода-изготовителя. Доставка по всей России.{% endblock description %}

{% block extra_head %}
    <script type="text/javascript" src="/static/js/buy_engine.js"></script>
    <script type="text/javascript" src="/static/js/question.js"></script>
{% endblock %}

{% block home_section %}
{% endblock %}

{% block banner_section %}
			<div>
				<section class="page-banner-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h1>Продажа двигателей Cummins ISM, ISMe</h1>
							</div>
						</div>
						<div class="row">
			                <div class="col-sm-12">
			                    <ul class="page-depth" itemscope itemtype="http://schema.org/BreadcrumbList">
			                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="http://red-diesel.ru/"><span itemprop="name">Главная</span></a><meta itemprop="position" content="1" /></li>
									<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="http://red-diesel.ru/dvigateli-cummins/"><span itemprop="name">Двигатели в сборе</span></a><meta itemprop="position" content="2" /></li>
									<li itemprop="itemListElement"><span itemprop="name">Cummins ISMe</span><meta itemprop="position" content="3" /></li>
			                    </ul>
			                </div>
            			</div>
					</div>
				</section>
{% endblock %}

{% block services_section %}
{% endblock %}

{% block tabs_section %}
				<section class="tabs-section">
					<div class="container">
						<div class="row">
								<div class="col-sm-7">
									<div class="product-page">
										<a class="zoom" href="/static/upload/engines/cummins-isme.jpg"><img class="img-border" src="/static/upload/engines/cummins-isme.jpg" width="100%" alt=""></a>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="product-page">
										<h2>Cummins ISMe (новый)</h2>
										<ul class="specs">
											<li>Состояние: <i>новый (без пробега)</i></li>
											<li>Комплектация: <i>в сборе с навесным</i></li>
											<li>Наличие: <i>в наличии</i></li>
											<li>Доставка: <i>по всей России</i></li>
										</ul>
										<p class="price">Цена по запросу</p>
										</ul>
										<div class="guide-box">
											<ul>
												<li>
													<a class="buy-button open-popup-link" href="#buy-engine">Купить двигатель</a>
												</li>
												<li>
													<a class="buy-button open-popup-link" href="#engine-question">Задать вопрос</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>				
					</div>
				</section>
				<!-- End tabs section -->

				<!-- tabs-section 
					================================================== -->
				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Характеристики</h3>
									</div>
									<ul class="specs-dotted">
										<li>
											<span>Мощность</span>
											<span>280 — 500 л.с. / 209 — 373 кВт</span>
										</li>
										<li>
											<span>Крутящий момент</span>
											<span>1254 — 2110 Нм</span>
										</li>								
										<li>
											<span>Цилиндров</span>
											<span>6</span>
										</li>
										<li>
											<span>Рабочий объём</span>
											<span>10.8 л</span>
										</li>
										<li>
											<span>Экологический класс</span>
											<span>Евро 2 / Евро 3 / Евро 4 / Евро 5</span>
										</li>
										<li>
											<span>Вес</span>
											<span>1000 кг</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-6" style="text-align: center; vertical-align: middle">
								<img src="/static/upload/engines/cummins-ism-scheme.png" width="70%" alt="">
							</div>
						</div>
					</div>
				</section>
				<!-- End tabs section -->

				<!-- tabs-section 
					================================================== -->
				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-6" style="text-align: center">
								<img src="/static/upload/engines/cummins-isme-na-Kenworth-T600.png" width="80%" alt="">
							</div>
							<div class="col-sm-6">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Применяемость</h3>
									</div>
									<ul class="specs-dotted">
										<li>
											<span>Ford</span>
											<span>LA9000</span>
										</li>
										<li>
											<span>FREIGHTLINER</span>
											<span>BUSINESS CLASS M2 100, BUSINESS CLASS M2 106, BUSINESS CLASS M2 112, CASCADIA 113, CASCADIA 125, CASCADIA 125 EVOLUTION, CENTURY 112, CENTURY 120, COLUMBIA 112, COLUMBIA 120, CONDOR, CORONADO 122, CORONADO 122 SD, CORONADO 132, FL106, FL112, FL60, FL70, FL80, FLC112, FLC120, FLD112, FLD120, FLD120 CLASSIC, FLD132 CLASSIC XL</span>
										</li>
										<li>
											<span>INTERNATIONAL</span>
											<span>1650B, 1800, 1854, 1955, 2110A, 2200, 2275, 2375, 2574, 2575, 2654, 2674, 2675, 400, 4200, 4300, 4370, 4400, 4700, 4700LP, 4800, 4900, 4900i, 5000, 5000 SFA, 5000i, 5500i, 5600i, 5900i, 7200, 7400, 7500, 7600, 8100, 8200, 8300, 8500, 8600, 9000, 9000i, 9100, 9100i, 9200, 9200 EAGLE, 9200i, 9200i EAGLE, 9200i SBA, 9300, 9300 EAGLE, 9300 SBA, 9370, 9370 EAGLE, 9400, 9400 EAGLE, 9400i, 9400i EAGLE, 9400i SBA, 9600, 9800, 9900, 9900 EAGLE, 9900i, 9900i EAGLE, 9900ix, 9900ix EAGLE, F200, F2275, F2554, F4370, F5070 SBA, F8100, F9300 SBA, F9370, KB8, LONESTAR, LONESTAR HARLEY DAVIDSON, PAYSTAR 5900, PROSTAR, PROSTAR EAGLE, PROSTAR LIMITED, PROSTAR PREMIUM, PROSTAR+, S1754, S1900, S1955, S2155, S2300, TRANSTAR 8600, TRANSTAR II, WEST COASTER, WORKSTAR 7700</span>
										</li>
										<li>
											<span>KENWORTH</span>
											<span>C15, C500B, K100E, L700, L900, S925R, T200, T2000, T2120, T300, T370, T400, T400A, T402, T450, T60, T600, T600A, T600B, T600E, T660, T660B, T680, T700, T800, T800B, T800H, T800SH, T800W, T803SF, T900, W90, W900, W900A, W900B, W900L, W900S, W923, W925</span>
										</li>
										<li>
											<span>MACK</span>
											<span>B61, B73, B75, B77, CH612, CH613, CHN602, CHN603, CHN613, CHN613 RAWHIDE, CL613, CL643, CL653, CL700, CL703, CL713, CL733, CL753, DM600S, DM688SX, DM690SX, DMM, GRANITE CV513, GRANITE CV613, GRANITE CV713, GRANITE GU713, LFT, LJ, MIDLINER CS300, MR688S, MR821, PINNACLE CHU612, PINNACLE CHU613, PINNACLE CHU613 RAWHIDE, PINNACLE CXP612, PINNACLE CXP613, PINNACLE CXU612, PINNACLE CXU613, R600, R600K, R685ST, R686, R686S, R688, R688ST, R688T, R690ST, RB690S, RD6865ST, RD688, RD688S, RD690, RD690S, RD888SX, RL700, SUPERLINER RW613, SUPERLINER RW653, SUPERLINER RW713, SUPERLINER RWS712LST, SUPERLINER RWS722LST, SUPERLINER RWS788LST, SUPERLINER RWS788ST, TITAN TD713, TITAN TD714, VALUELINER, VISION CX612, VISION CX613, VISION CXN612, VISION CXN613</span>
										</li>
										<li>
											<span>PETERBILT</span>
											<span>281, 289, 330, 335, 337, 345, 349, 350, 351, 357, 358, 358A, 358F, 359, 359A, 359EXHD, 359ST, 365, 366, 367, 370, 371, 372, 375, 376, 377, 377A, 377AE, 377SB, 377SFFA, 377ST, 378, 378B, 378SB, 378SF, 378SFFA, 379, 379EXHD, 379X, 384, 385, 386, 387, 388, 389, 579, 587, B3406, 630, 780</span>
										</li>
										<li>
											<span>SHAANXI (SHACMAN)</span>
											<span>SX1256NV504C</span>
										</li>
										<li>
											<span>VOLVO</span>
											<span>ACL42B, ACL64B, F610, F725, FE42, FE613, FE613H, FH16, N14, NH12.460, ROAD BOSS, ROAD COMMANDER II, VHD104B200, VHD64BT430, VHD64FT430, VNL42T420, VNL42T430, VNL42T610, VNL42T630, VNL42T660, VNL42T670, VNL62T430, VNL64T300, VNL64T420, VNL64T430, VNL64T610, VNL64T630, VNL64T660, VNL64T670, VNL64T730, VNL64T770, VNL64T780, VNL84T430, VNL84T670, VNM42T420, VNM42T430, VNM42T630, VNM62T430, VNM62T630, VNM64T200, VNM64T420, VNM64T430, VNM64T610, VNM64T630, VT64T800, VT64T830, VT64T880, WAH64, WCA42T, WCA62T, WCA64T, WCM64T, WCS64T, WG42ST, WG42T, WG64F, WG64T, WHE64T, WHR64T, WIA42T, WIA42TES, WIA42TTES, WIA62T, WIA62TES, WIA64, WIA64T, WIA64TES, WIA64TTES, WIL64T, WIL64TES, WIM64T, WIS42T, WX42T, WXLL42, WXLL64</span>
										</li>
										<li>
											<span>WESTERN STAR</span>
											<span>3406, 3864F, 3864S, 4864F, 4864FX, 4864S, 490, 4900EX, 4900EX LOWMAX, 4900FA, 4900FA LOWMAX, 4900SA, 4900SB, 4900SF, 4942, 4964, 49642, 4964E, 4964EX, 4964F, 4964FA, 4964FF, 4964FX, 4964S, 4964SA, 4964SX, 5864SS, 5900, 5900SA, 5900SS, 5964, 5964S, 5964SS, 5966SS, 8964EX, 9664, LOWMAX, MILLENIUM</span>
										</li>
										<li>
											<span>Yarovit</span>
											<span>GLOROS A5401D, A5402D, A5302D</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-8">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Другие двигатели этой серии</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="related_products">
								<div class="col-sm-3">
									<a href="http://red-diesel.ru/dvigateli-cummins/m11/"><img class="img-border" src="/static/images/cummins-m11.jpg" width="100%" alt=""></a>
									<h5><a href="http://red-diesel.ru/dvigateli-cummins/m11/">Cummins M11</a></h5>
									<p>Tana 27F, БелАЗ 78231, МОАЗ-40486, МОАЗ-60071, ЧЕТРА ТГ-301 К и др.</p>
									<p class="related_price">Цена по запросу</p>
								</div>
								<div class="col-sm-3">
									<a href="http://red-diesel.ru/dvigateli-cummins/qsm/"><img class="img-border" src="/static/images/cummins-qsm.jpg" width="100%" alt=""></a>
									<h5><a href="http://red-diesel.ru/dvigateli-cummins/qsm/">Cummins QSM</a></h5>
									<p>Buhler Versatile 2335, Hyundai HL780-3A, New Holland D350, БелАЗ 7540K, ЧЕТРА Т-20.01 и др.</p>
									<p class="related_price">Цена по запросу</p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<!-- banner-section 
                    ================================================== -->
                <section class="banner-section">
                    <div class="container">
                        <p class="slogan">Остались вопросы? Нужна консультация? Пишите!</p>
                        <a href="#engine-question" class="button-one open-popup-link">Задать вопрос</a>
                    </div>
                </section>
    			<!-- End banner section -->

				<div id="buy-engine" class="white-popup mfp-hide">
					<form id="buy-engine-form" method="post">
                    {% csrf_token %}
  						<p class="h1">Заявка на двигатель Cummins ISM</p>
  					<div class="row">
                        <input type="hidden" name="engine_model" value="isme">
  						<div class="col-md-6">
  							<span>Экологический класс</span>
  							<input type="text" name="ecology">
  						</div>
  						<div class="col-md-6">
  							<span>Автомобиль</span>
  							<input type="text" name="car">
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Ваше имя или название организации</span>
  							<input type="text" name="name">
  						</div>
  						<div class="col-md-6">
  							<span>Город</span>
  							<input type="text" name="city">
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Контактный телефон</span>
  							<input type="tel" name='phone' id="id_buy_phone">
                            <span id="buy-phone-error" class="error-view hidden">Заполните телефон</span>
  						</div>
  						<div class="col-md-6">
  							<span>Email*</span>
  							<input type="email" name="mail">
                            <span id="buy-mail-error" class="error-view hidden">Ошибочно заполнено поле</span>

  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<span>Комментарии к заказу</span>
  							<textarea name="comment"></textarea>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<input type="submit" id="id-buy-submit-button">
  						</div>
  					</div>
                    <div id="buy-success-send" class="hidden">Успешно отправлено!</div>
                    <div id="buy-error-send" class="error-view hidden">Ошибка формы!</div>
  					</form>
				</div>

				<div id="engine-question" class="white-popup mfp-hide">
					<form id="engine-question-form" method="post">
                    {% csrf_token %}
  						<p class="h1">Вопрос по двигателю Cummins ISM</p>
                        <input type="hidden" name="engine_model" value="isme">
  					<div class="row">
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Контактный телефон</span>
  							<input type="tel" name="phone" id="id_question_phone">
                            <span id="question-phone-error" class="error-view hidden">Заполните телефон</span>
  						</div>
  						<div class="col-md-6">
  							<span>Email*</span>
  							<input type="email" name="mail">
                            <span id="question-mail-error" class="error-view hidden">Ошибочно заполнено поле</span>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<span>Ваш вопрос*</span>
  							<textarea name="question"></textarea>
                            <span id="question-comment-error" class="error-view hidden">Введите ваш вопрос</span>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<input type="submit" id="id-question-submit-button">
  						</div>
  					</div>
                    <div id="question-success-send" class="hidden">Успешно отправлено!</div>
                    <div id="question-error-send" class="error-view hidden">Ошибка формы!</div>

  					</form>
				</div>
			</div>
{% endblock %}

