{% extends 'django_project/base.html' %}

{% block title %}Купить двигатель Cummins K19, KTA19, KTTA19, KTAA19.{% endblock title %}

{% block description %}Новые двигатели Cummins K19, KTA19, KTTA19, KTAA19. Полная комплектация. Гарантия завода-изготовителя. Доставка по всей России.{% endblock description %}

{% block extra_head %}
    <script type="text/javascript" src="/static/js/buy_engine.js"></script>
    <script type="text/javascript" src="/static/js/question.js"></script>
{% endblock %}

{% block home_section %}
{% endblock %}

{% block banner_section %}
			<div>
				<section class="page-banner-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h1>Продажа двигателей Cummins K19, KTA19, KTTA19, KTAA19</h1>
							</div>
						</div>
						<div class="row">
			                <div class="col-sm-12">
			                    <ul class="page-depth" itemscope itemtype="http://schema.org/BreadcrumbList">
			                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="http://red-diesel.ru/"><span itemprop="name">Главная</span></a><meta itemprop="position" content="1" /></li>
									<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="http://red-diesel.ru/dvigateli-cummins/"><span itemprop="name">Двигатели в сборе</span></a><meta itemprop="position" content="2" /></li>
									<li itemprop="itemListElement"><span itemprop="name">Cummins K19</span><meta itemprop="position" content="3" /></li>
			                    </ul>
			                </div>
            			</div>
					</div>
				</section>
{% endblock %}

{% block services_section %}
{% endblock %}

{% block tabs_section %}
				<section class="tabs-section">
					<div class="container">
						<div class="row">
								<div class="col-sm-7">
									<div class="product-page">
										<a class="zoom" href="/static/upload/engines/cummins-k19.jpg"><img class="img-border" src="/static/upload/engines/cummins-k19.jpg" width="100%" alt=""></a>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="product-page">
										<h2>Cummins K19 (новый)</h2>
										<ul class="specs">
											<li>Состояние: <i>новый (без пробега)</i></li>
											<li>Комплектация: <i>в сборе с навесным</i></li>
											<li>Наличие: <i>в наличии</i></li>
											<li>Доставка: <i>по всей России</i></li>
										</ul>
										<p class="price">Цена по запросу</p>
										</ul>
										<div class="guide-box">
											<ul>
												<li>
													<a class="buy-button open-popup-link" href="#buy-engine">Купить двигатель</a>
												</li>
												<li>
													<a class="buy-button open-popup-link" href="#engine-question">Задать вопрос</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>				
					</div>
				</section>
				<!-- End tabs section -->

				<!-- tabs-section 
					================================================== -->
				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Характеристики</h3>
									</div>
									<ul class="specs-dotted">
										<li>
											<span>Мощность</span>
											<span>450 — 700 л.с. / 336 — 522 кВт</span>
										</li>
										<li>
											<span>Крутящий момент</span>
											<span>1526 — 2731 Нм</span>
										</li>								
										<li>
											<span>Цилиндров</span>
											<span>6</span>
										</li>
										<li>
											<span>Рабочий объём</span>
											<span>19 л</span>
										</li>
										<li>
											<span>Габариты</span>
											<span>&nbsp;</span>
										</li>
											<ul>
												<li>
													<span>Длина</span>
													<span>1574 мм</span>
												</li>
												<li>
													<span>Ширина</span>
													<span>805-975 мм</span>
												</li>
												<li>
													<span>Высота</span>
													<span>1371-1638 мм</span>
												</li>
											</ul>
										<li>
											<span>"Сухой" вес</span>
											<span>2722-2799 кг</span>
										</li>	
									</ul>
								</div>
							</div>
							<div class="col-sm-6" style="text-align: center; vertical-align: middle">
								<img src="/static/upload/engines/cummins-k19-scheme.png" width="80%" alt="">
							</div>
						</div>
					</div>
				</section>
				<!-- End tabs section -->

				<!-- tabs-section 
					================================================== -->
				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-6" style="text-align: center">
								<img src="/static/upload/engines/cummins-k19-na-belaz-7555.png" width="90%" alt="">
							</div>
							<div class="col-sm-6">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Применяемость</h3>
									</div>
									<ul class="specs-dotted">
										<li>
											<span>Liebherr</span>
											<span>экскаваторы</span>
										</li>
										<li>
											<span>Shanghai Pengpu</span>
											<span>PD410Y-1</span>
										</li>
										<li>
											<span>Shantui</span>
											<span>SD42-3</span>
										</li>
										<li>
											<span>Shehwa</span>
											<span>HBXG SD9</span>
										</li>
										<li>
											<span>БелАЗ</span>
											<span>75453, 75473, 7548, 7555B, 7555D, 7822, 78221, 78231</span>
										</li>
										<li>
											<span>ЧЕТРА</span>
											<span>Т-35.01, Т-35.02, ТГ-503</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-8">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Другие двигатели этой серии</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="related_products">
								<div class="col-sm-3">
									<a href="http://red-diesel.ru/dvigateli-cummins/qsk19/"><img class="img-border" src="/static/images/cummins-qsk19.jpg" width="100%" alt=""></a>
									<h5><a href="http://red-diesel.ru/dvigateli-cummins/qsk19/">Cummins QSK19</a></h5>
									<p>БелАЗ 7555E, БелАЗ 7555F, ЧЕТРА ПК-120, ЧЕТРА Т-35 и др.</p>
									<p class="related_price">Цена по запросу</p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<!-- banner-section 
                    ================================================== -->
                <section class="banner-section">
                    <div class="container">
                        <p class="slogan">Остались вопросы? Нужна консультация? Пишите!</p>
                        <a href="#engine-question" class="button-one open-popup-link">Задать вопрос</a>
                    </div>
                </section>
    			<!-- End banner section -->

				<div id="buy-engine" class="white-popup mfp-hide">
					<form id="buy-engine-form" method="post">
                    {% csrf_token %}
  						<p class="h1">Заявка на двигатель Cummins K19</p>
  					<div class="row">
                        <input type="hidden" name="engine_model" value="k19">
  						<div class="col-md-6">
  							<span>Экологический класс</span>
  							<input type="text" name="ecology">
  						</div>
  						<div class="col-md-6">
  							<span>Автомобиль</span>
  							<input type="text" name="car">
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Ваше имя или название организации</span>
  							<input type="text" name="name">
  						</div>
  						<div class="col-md-6">
  							<span>Город</span>
  							<input type="text" name="city">
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Контактный телефон</span>
  							<input type="tel" name='phone' id="id_buy_phone">
                            <span id="buy-phone-error" class="error-view hidden">Заполните телефон</span>
  						</div>
  						<div class="col-md-6">
  							<span>Email*</span>
  							<input type="email" name="mail">
                            <span id="buy-mail-error" class="error-view hidden">Ошибочно заполнено поле</span>

  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<span>Комментарии к заказу</span>
  							<textarea name="comment"></textarea>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<input type="submit" id="id-buy-submit-button">
  						</div>
  					</div>
                    <div id="buy-success-send" class="hidden">Успешно отправлено!</div>
                    <div id="buy-error-send" class="error-view hidden">Ошибка формы!</div>
  					</form>
				</div>

				<div id="engine-question" class="white-popup mfp-hide">
					<form id="engine-question-form" method="post">
                    {% csrf_token %}
  						<p class="h1">Вопрос по двигателю Cummins K19</p>
                        <input type="hidden" name="engine_model" value="k19">
  					<div class="row">
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Контактный телефон</span>
  							<input type="tel" name="phone" id="id_question_phone">
                            <span id="question-phone-error" class="error-view hidden">Заполните телефон</span>
  						</div>
  						<div class="col-md-6">
  							<span>Email*</span>
  							<input type="email" name="mail">
                            <span id="question-mail-error" class="error-view hidden">Ошибочно заполнено поле</span>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<span>Ваш вопрос*</span>
  							<textarea name="question"></textarea>
                            <span id="question-comment-error" class="error-view hidden">Введите ваш вопрос</span>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<input type="submit" id="id-question-submit-button">
  						</div>
  					</div>
                    <div id="question-success-send" class="hidden">Успешно отправлено!</div>
                    <div id="question-error-send" class="error-view hidden">Ошибка формы!</div>

  					</form>
				</div>
			</div>
{% endblock %}

