{% extends 'django_project/base.html' %}

{% block title %}Купить двигатель Cummins QSB 3.3, 4.5, 5.9, 6.7{% endblock title %}

{% block description %}Новые двигатели Cummins EQB 125-20, 140-20, 160-20, 180-20, 210-20 на КАМАЗ, ПАЗ, НефАЗ и др. Полная комплектация. Гарантия завода-изготовителя. Доставка по всей России.{% endblock description %}

{% block extra_head %}
    <script type="text/javascript" src="/static/js/buy_engine.js"></script>
    <script type="text/javascript" src="/static/js/question.js"></script>
{% endblock %}

{% block home_section %}
{% endblock %}

{% block banner_section %}
			<div>
				<section class="page-banner-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h1>Продажа двигателей Cummins QSB 3.3, 4.5, 5.9, 6.7</h1>
							</div>
						</div>
						<div class="row">
			                <div class="col-sm-12">
			                    <ul class="page-depth" itemscope itemtype="http://schema.org/BreadcrumbList">
			                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="http://red-diesel.ru/"><span itemprop="name">Главная</span></a><meta itemprop="position" content="1" /></li>
									<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="http://red-diesel.ru/dvigateli-cummins/"><span itemprop="name">Двигатели в сборе</span></a><meta itemprop="position" content="2" /></li>
									<li itemprop="itemListElement"><span itemprop="name">Cummins QSB</span><meta itemprop="position" content="3" /></li>
			                    </ul>
			                </div>
            			</div>
					</div>
				</section>
{% endblock %}

{% block services_section %}
{% endblock %}

{% block tabs_section %}
				<section class="tabs-section">
					<div class="container">
						<div class="row">
								<div class="col-sm-7">
									<div class="product-page">
										<a class="zoom" href="/static/upload/engines/cummins-qsb-6.7.jpg"><img class="img-border" src="/static/upload/engines/cummins-qsb-6.7.jpg" width="100%" alt=""></a>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="product-page">
										<h2>Cummins QSB (новый)</h2>
										<ul class="specs">
											<li>Состояние: <i>новый (без пробега)</i></li>
											<li>Комплектация: <i>в сборе с навесным</i></li>
											<li>Наличие: <i>в наличии</i></li>
											<li>Доставка: <i>по всей России</i></li>
											<li>Цена (с НДС):</li>
										</ul>
										<p class="price">от 792 600 &#8381;</p>
										</ul>
										<div class="guide-box">
											<ul>
												<li>
													<a class="buy-button open-popup-link" href="#buy-engine">Купить двигатель</a>
												</li>
												<li>
													<a class="buy-button open-popup-link" href="#engine-question">Задать вопрос</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>				
					</div>
				</section>
				<!-- End tabs section -->

				<!-- tabs-section 
					================================================== -->
				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Характеристики</h3>
									</div>
									<ul class="specs-dotted">
										<li>
											<span>Мощность</span>
											<span>75 — 275 л.с. / 56 — 205 кВт</span>
										</li>								
										<li>
											<span>Крутящий момент</span>
											<span>371 — 990 Нм</span>
										</li>
										<li>
											<span>Цилиндров</span>
											<span>4 / 6</span>
										</li>
										<li>
											<span>Рабочий объём</span>
											<span>3.3 / 4.5 / 5.9 / 6.7</span>
										</li>
										<li>
											<span>Экологический класс</span>
											<span>Tier 3 / Tier 4</span>
										</li>
										<li>
											<span>"Сухой" вес</span>
											<span>&nbsp;</span>
										</li>
											<ul>
												<li>
													<span>QSB 3.3</span>
													<span>265 кг</span>
												</li>
												<li>
													<span>QSB 4.5</span>
													<span>371 кг</span>
												</li>
												<li>
													<span>QSB 6.7</span>
													<span>475 кг</span>
												</li>
											</ul>	
									</ul>
								</div>
							</div>
							<div class="col-sm-6" style="text-align: center; vertical-align: middle">
								<img src="/static/upload/engines/cummins-qsb-scheme.png" width="62%" alt="">
							</div>
						</div>
					</div>
				</section>
				<!-- End tabs section -->

				<!-- tabs-section 
					================================================== -->
				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-6" style="text-align: center">
								<img src="/static/upload/engines/cummins-qsb-na-dynapacl.png" width="100%" alt="">
							</div>
							<div class="col-sm-6">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Применяемость</h3>
									</div>
									<ul class="specs-dotted">
										<li>
											<span>Dynapac</span>
											<span>CA250D-II, CA252D, CA260D-II, CA262D, CA280D-II, CA302D, CA302DCO, CA362D, CA362DCO, CA402D, CA512D, CA602D, CA602DCO, CA612D, CA702D, CC424HF, CC524HF, CC624HF, CC722, CP274, CP2700</span>
										</li>
										<li>
											<span>Hyundai</span>
											<span>R210NLC-9, R290LC-7A</span>
										</li>
										<li>
											<span>Weihai Guangtai</span>
											<span>WGQY27</span>
										</li>								
										<li>
											<span>ЧЕТРА</span>
											<span>Т9, Т11, ТГ-122</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-8">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Другие двигатели этой серии</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="related_products">
								<div class="col-sm-3">
									<a href="http://red-diesel.ru/dvigateli-cummins/4isbe/"><img class="img-border" src="/static/images/cummins-4isbe.jpg" width="100%" alt=""></a>
									<h5><a href="http://red-diesel.ru/dvigateli-cummins/4isbe/">Cummins 4ISBe</a></h5>
									<p>КамАЗ, МАЗ, ПАЗ, AVIA, Higer и др.</p>
									<p class="related_price">от 750 тыс. &#8381;</p>
								</div>
								<div class="col-sm-3">
									<a href="http://red-diesel.ru/dvigateli-cummins/6isbe/"><img class="img-border" src="/static/images/cummins-6isbe.jpg" width="100%" alt=""></a>
									<h5><a href="http://red-diesel.ru/dvigateli-cummins/6isbe/">Cummins 6ISBe</a></h5>
									<p>КамАЗ, НефАЗ, ЛиАЗ, AVIA, Higer и др.</p>
									<p class="related_price">от 820 тыс. &#8381;</p>
								</div>
								<div class="col-sm-3">
									<a href="http://red-diesel.ru/dvigateli-cummins/4bt/"><img class="img-border" src="/static/images/cummins-4bt.jpg" width="100%" alt=""></a>
									<h5><a href="http://red-diesel.ru/dvigateli-cummins/4bt/">Cummins 4BT</a></h5>
									<p>Dynapac CA300D, Mecalac 12MTX, Yutong ZK6737D, КамАЗ 4308, НефАЗ 3299, ПАЗ 3203 и др.</p>
									<p class="related_price">Цена по запросу</p>
								</div>
								<div class="col-sm-3">
									<a href="http://red-diesel.ru/dvigateli-cummins/6bt/"><img class="img-border" src="/static/images/cummins-6bt.jpg" width="100%" alt=""></a>
									<h5><a href="http://red-diesel.ru/dvigateli-cummins/6bt/">Cummins 6BT</a></h5>
									<p>Chenggong CG932H, Dynapac CA500D, Lonking CDM833, SDLG LG930-1, Shandong SEM 638 и др.</p>
									<p class="related_price">Цена по запросу</p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<!-- banner-section 
                    ================================================== -->
                <section class="banner-section">
                    <div class="container">
                        <p class="slogan">Остались вопросы? Нужна консультация? Пишите!</p>
                        <a href="#engine-question" class="button-one open-popup-link">Задать вопрос</a>
                    </div>
                </section>
    			<!-- End banner section -->

				<div id="buy-engine" class="white-popup mfp-hide">
					<form id="buy-engine-form" method="post">
                    {% csrf_token %}
  						<p class="h1">Заявка на двигатель Cummins QSB</p>
  					<div class="row">
                        <input type="hidden" name="engine_model" value="qsb">
  						<div class="col-md-6">
  							<span>Экологический класс</span>
  							<input type="text" name="ecology">
  						</div>
  						<div class="col-md-6">
  							<span>Автомобиль</span>
  							<input type="text" name="car">
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Ваше имя или название организации</span>
  							<input type="text" name="name">
  						</div>
  						<div class="col-md-6">
  							<span>Город</span>
  							<input type="text" name="city">
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Контактный телефон</span>
  							<input type="tel" name='phone' id="id_buy_phone">
                            <span id="buy-phone-error" class="error-view hidden">Заполните телефон</span>
  						</div>
  						<div class="col-md-6">
  							<span>Email*</span>
  							<input type="email" name="mail">
                            <span id="buy-mail-error" class="error-view hidden">Ошибочно заполнено поле</span>

  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<span>Комментарии к заказу</span>
  							<textarea name="comment"></textarea>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<input type="submit" id="id-buy-submit-button">
  						</div>
  					</div>
                    <div id="buy-success-send" class="hidden">Успешно отправлено!</div>
                    <div id="buy-error-send" class="error-view hidden">Ошибка формы!</div>
  					</form>
				</div>

				<div id="engine-question" class="white-popup mfp-hide">
					<form id="engine-question-form" method="post">
                    {% csrf_token %}
  						<p class="h1">Вопрос по двигателю Cummins QSB</p>
                        <input type="hidden" name="engine_model" value="qsb">
  					<div class="row">
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Контактный телефон</span>
  							<input type="tel" name="phone" id="id_question_phone">
                            <span id="question-phone-error" class="error-view hidden">Заполните телефон</span>
  						</div>
  						<div class="col-md-6">
  							<span>Email*</span>
  							<input type="email" name="mail">
                            <span id="question-mail-error" class="error-view hidden">Ошибочно заполнено поле</span>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<span>Ваш вопрос*</span>
  							<textarea name="question"></textarea>
                            <span id="question-comment-error" class="error-view hidden">Введите ваш вопрос</span>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<input type="submit" id="id-question-submit-button">
  						</div>
  					</div>
                    <div id="question-success-send" class="hidden">Успешно отправлено!</div>
                    <div id="question-error-send" class="error-view hidden">Ошибка формы!</div>

  					</form>
				</div>
			</div>
{% endblock %}

