{% extends 'django_project/base.html' %}

{% block title %}Купить двигатель Cummins QSX 15, 12.{% endblock title %}

{% block description %}Новые двигатели Cummins QSX 15, 12. Полная комплектация. Гарантия завода-изготовителя. Доставка по всей России.{% endblock description %}

{% block extra_head %}
    <script type="text/javascript" src="/static/js/buy_engine.js"></script>
    <script type="text/javascript" src="/static/js/question.js"></script>
{% endblock %}

{% block home_section %}
{% endblock %}

{% block banner_section %}
			<div>
				<section class="page-banner-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h1>Продажа двигателей Cummins QSX 15</h1>
							</div>
						</div>
						<div class="row">
			                <div class="col-sm-12">
			                    <ul class="page-depth" itemscope itemtype="http://schema.org/BreadcrumbList">
			                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="http://red-diesel.ru/"><span itemprop="name">Главная</span></a><meta itemprop="position" content="1" /></li>
									<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="http://red-diesel.ru/dvigateli-cummins/"><span itemprop="name">Двигатели в сборе</span></a><meta itemprop="position" content="2" /></li>
									<li itemprop="itemListElement"><span itemprop="name">Cummins QSX</span><meta itemprop="position" content="3" /></li>
			                    </ul>
			                </div>
            			</div>
					</div>
				</section>
{% endblock %}

{% block services_section %}
{% endblock %}

{% block tabs_section %}
				<section class="tabs-section">
					<div class="container">
						<div class="row">
								<div class="col-sm-7">
									<div class="product-page">
										<a class="zoom" href="/static/upload/engines/cummins-qsx-15.jpg"><img class="img-border" src="/static/upload/engines/cummins-qsx-15.jpg" width="100%" alt=""></a>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="product-page">
										<h2>Cummins QSX 15 (новый)</h2>
										<ul class="specs">
											<li>Состояние: <i>новый (без пробега)</i></li>
											<li>Комплектация: <i>в сборе с навесным</i></li>
											<li>Наличие: <i>в наличии</i></li>
											<li>Доставка: <i>по всей России</i></li>
										</ul>
										<p class="price">Цена по запросу</p>
										</ul>
										<div class="guide-box">
											<ul>
												<li>
													<a class="buy-button open-popup-link" href="#buy-engine">Купить двигатель</a>
												</li>
												<li>
													<a class="buy-button open-popup-link" href="#engine-question">Задать вопрос</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>				
					</div>
				</section>
				<!-- End tabs section -->

				<!-- tabs-section 
					================================================== -->
				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Характеристики</h3>
									</div>
									<ul class="specs-dotted">
										<li>
											<span>Мощность</span>
											<span>350 — 675 л.с. / 261 — 503 кВт</span>
										</li>
										<li>
											<span>Крутящий момент</span>
											<span>1603 — 2779 Нм</span>
										</li>								
										<li>
											<span>Цилиндров</span>
											<span>6</span>
										</li>
										<li>
											<span>Рабочий объём</span>
											<span>11.9 / 15 л</span>
										</li>
										<li>
											<span>"Сухой" вес</span>
											<span>1451 кг</span>
										</li>
										<li>
											<span>Экологический класс</span>
											<span>Tier 2 / Stage II, Tier 3 / Stage IIIA, Tier 4 Interim / Stage IIIB, Tier 4 Final / Stage IV</span>
										</li>	
									</ul>
								</div>
							</div>
							<div class="col-sm-6" style="text-align: center; vertical-align: middle">
								<img src="/static/upload/engines/cummins-qsx-scheme.png" width="70%" alt="">
							</div>
						</div>
					</div>
				</section>
				<!-- End tabs section -->

				<!-- tabs-section 
					================================================== -->
				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-6" style="text-align: center">
								<img src="/static/upload/engines/cummins-qsx-15-na-buhler.png" width="90%" alt="">
							</div>
							<div class="col-sm-6">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Применяемость</h3>
									</div>
									<ul class="specs-dotted">
										<li>
											<span>Buhler Versatile</span>
											<span>HHT, 350, 375, 400, 450DT, 500DT, 550DT</span>
										</li>
										<li>
											<span>John Deere</span>
											<span>9570RT, 9620RX, 9620R, 9570RX, 9570R</span>
										</li>
										<li>
											<span>CASE</span>
											<span>IH STX425</span>
										</li>
										<li>
											<span>Hyundai</span>
											<span>R800LC7A</span>
										</li>
										<li>
											<span>New Holland</span>
											<span>T9060, TJ375</span>
										</li>
										<li>
											<span>БелАЗ</span>
											<span>65800, 75450</span>
										</li>
										<li>
											<span>ЧЕТРА</span>
											<span>ТГ-511</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="tabs-section">
					<div class="container">
						<div class="row">
							<div class="col-sm-8">
								<div class="product-page">
									<div class="about-us-box">
										<h3>Другие двигатели этой серии</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="related_products">
								<div class="col-sm-3">
									<a href="http://red-diesel.ru/dvigateli-cummins/isx/"><img class="img-border" src="/static/images/cummins-isx15.jpg" width="100%" alt=""></a>
									<h5><a href="http://red-diesel.ru/dvigateli-cummins/isx/">Cummins ISX</a></h5>
									<p>International 9200i, Kenworth T2000, PETERBILT 387, Volvo VNL 630, КамАЗ 65228 и др.</p>
									<p class="related_price">Цена по запросу</p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<!-- banner-section 
                    ================================================== -->
                <section class="banner-section">
                    <div class="container">
                        <p class="slogan">Остались вопросы? Нужна консультация? Пишите!</p>
                        <a href="#engine-question" class="button-one open-popup-link">Задать вопрос</a>
                    </div>
                </section>
    			<!-- End banner section -->

				<div id="buy-engine" class="white-popup mfp-hide">
					<form id="buy-engine-form" method="post">
                    {% csrf_token %}
  						<p class="h1">Заявка на двигатель Cummins QSX</p>
  					<div class="row">
                        <input type="hidden" name="engine_model" value="qsx">
  						<div class="col-md-6">
  							<span>Экологический класс</span>
  							<input type="text" name="ecology">
  						</div>
  						<div class="col-md-6">
  							<span>Автомобиль</span>
  							<input type="text" name="car">
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Ваше имя или название организации</span>
  							<input type="text" name="name">
  						</div>
  						<div class="col-md-6">
  							<span>Город</span>
  							<input type="text" name="city">
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Контактный телефон</span>
  							<input type="tel" name='phone' id="id_buy_phone">
                            <span id="buy-phone-error" class="error-view hidden">Заполните телефон</span>
  						</div>
  						<div class="col-md-6">
  							<span>Email*</span>
  							<input type="email" name="mail">
                            <span id="buy-mail-error" class="error-view hidden">Ошибочно заполнено поле</span>

  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<span>Комментарии к заказу</span>
  							<textarea name="comment"></textarea>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<input type="submit" id="id-buy-submit-button">
  						</div>
  					</div>
                    <div id="buy-success-send" class="hidden">Успешно отправлено!</div>
                    <div id="buy-error-send" class="error-view hidden">Ошибка формы!</div>
  					</form>
				</div>

				<div id="engine-question" class="white-popup mfp-hide">
					<form id="engine-question-form" method="post">
                    {% csrf_token %}
  						<p class="h1">Вопрос по двигателю Cummins QSX</p>
                        <input type="hidden" name="engine_model" value="qsx">
  					<div class="row">
  					</div>
  					<div class="row">
  						<div class="col-md-6">
  							<span>Контактный телефон</span>
  							<input type="tel" name="phone" id="id_question_phone">
                            <span id="question-phone-error" class="error-view hidden">Заполните телефон</span>
  						</div>
  						<div class="col-md-6">
  							<span>Email*</span>
  							<input type="email" name="mail">
                            <span id="question-mail-error" class="error-view hidden">Ошибочно заполнено поле</span>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<span>Ваш вопрос*</span>
  							<textarea name="question"></textarea>
                            <span id="question-comment-error" class="error-view hidden">Введите ваш вопрос</span>
  						</div>
  					</div>
  					<div class="row">
  						<div class="col-md-12">
  							<input type="submit" id="id-question-submit-button">
  						</div>
  					</div>
                    <div id="question-success-send" class="hidden">Успешно отправлено!</div>
                    <div id="question-error-send" class="error-view hidden">Ошибка формы!</div>

  					</form>
				</div>
			</div>
{% endblock %}

