{% extends 'django_project/base.html' %}

{% block title %}Запчасти Cummins: купить, цена, каталоги{% endblock title %}

{% block description %}Полный ассортимент запчастей для всех моделей двигателей Cummins для отечественной и зарубежной техники. Доставка во все регионы РФ.{% endblock description %}

{% block home_section %}
    <section class="page-banner-section parts">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Запчасти для двигателей Cummins</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block banner_section %}
{% endblock %}

{% block services_section %}
{% endblock %}

{% block tabs_section %}
    <section class="tabs-section">
        <div class="container">
            <div class="row">
                    <div class="col-sm-12">
                        <div class="about-us-box">
                            <h2>Запчасти на ГАЗель, КамАЗ, ПАЗ, ЛиАЗ с двигателями Камминз</h2>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-us-box">
                        <p>Налаженные связи с поставщиками из России, Китая, Европы и Америки позволяют нам поддерживать максимально широкий ассортимент запасных частей и минимально возможные цены. Наши специалисты помогут подобрать необходимые Вам запасные части, и будут информировать обо всех этапах выполнения заказа.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- banner-section 
                    ================================================== -->
                <section class="banner-section">
                    <div class="container">
                        <p class="slogan">Базовый ассортимент запчастей Cummins вы найдете в нашем прайсе:</p>
                        <a  href="http://red-diesel.ru/price-cummins/" class="button-one"><i class="fa fa-file-excel-o fa-lg"></i>&nbsp;Прайс&nbsp;Cummins </a>
                    </div>
                </section>
    <!-- End banner section -->

    <section class="tabs-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-us-box">
                        <h2>Мы поставляем запчасти для двигателей:</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="about-us-box">
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span>ISF 2.8, 3.8</span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span>4ISBe, 6ISBe, ISDe</span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span>4BT, 6BT, EQB, QSB</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="about-us-box">
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span>C8.3, 6CT, QSC, ISC</span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span>L, ISLe, QSL</span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span>M11, QSM, ISMe</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="about-us-box">
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span>ISX, QSX</span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span>K19, QSK19</span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span>...и другие!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock  %}

{% block extra_head %} {% endblock  %}