{% extends 'django_project/base.html' %}

{% block title %}Запчасти Cummins: купить, цена, каталоги{% endblock title %}

{% block description %}Полный ассортимент запчастей для всех моделей двигателей Cummins для отечественной и зарубежной техники. Доставка во все регионы РФ.{% endblock description %}

{% block home_section %}
<div>
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Запчасти для двигателей Cummins</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="page-depth" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="http://red-diesel.ru/"><span itemprop="name">Главная</span></a><meta itemprop="position" content="1" /></li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="name">Запчасти Cummins</span><meta itemprop="position" content="2" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block banner_section %}
{% endblock %}

{% block services_section %}
{% endblock %}

{% block tabs_section %}
    <section class="tabs-section">
        <div class="container">
<!--             <div class="row">
                    <div class="col-sm-12">
                        <div class="about-us-box">
                            <h2>Запчасти на ГАЗель, КамАЗ, ПАЗ, ЛиАЗ с двигателями Камминз</h2>
                        </div>
                    </div>
                </div> -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-us-box">
                        <p>Налаженные связи с поставщиками из России, Китая, Европы и Америки позволяют нам поддерживать максимально широкий ассортимент запасных частей и минимально возможные цены. Наши специалисты помогут подобрать необходимые Вам запасные части, и будут информировать обо всех этапах выполнения заказа.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- banner-section 
                    ================================================== -->
                <section class="banner-section">
                    <div class="container">
                        <p class="slogan">Базовый ассортимент запчастей Cummins вы найдете в нашем прайсе:</p>
                        <a  href="http://red-diesel.ru/price-cummins/" class="button-one"><i class="fa fa-file-excel-o fa-lg"></i>&nbsp;Прайс&nbsp;Cummins </a>
                    </div>
                </section>
    <!-- End banner section -->

    <section class="tabs-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-us-box">
                        <h2>Мы поставляем запчасти для двигателей:</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="about-us-box">
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span><a href="http://red-diesel.ru/zapchasti-cummins/isf/">ISF 2.8, 3.8</a></span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span><a href="http://red-diesel.ru/zapchasti-cummins/isbe/">4ISBe, 6ISBe, ISDe</a></span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span><a href="http://red-diesel.ru/zapchasti-cummins/bt/">4BT, 6BT, EQB, QSB</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="about-us-box">
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span><a href="http://red-diesel.ru/zapchasti-cummins/6ct/">C8.3, 6CT, QSC, ISC</a></span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span><a href="http://red-diesel.ru/zapchasti-cummins/isl/">L, ISLe, QSL</a></span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span><a href="http://red-diesel.ru/zapchasti-cummins/m11/">M11, QSM, ISMe</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="about-us-box">
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span><a href="http://red-diesel.ru/zapchasti-cummins/isx/">ISX, QSX</a></span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span><a href="http://red-diesel.ru/zapchasti-cummins/k19/">K19, QSK19</a></span>
                        </div>
                        <div class="about-us-lyrics">
                            <a href="#"><i class="fa fa-cogs"></i></a>
                            <span><a href="http://red-diesel.ru/zapchasti-cummins/a/">A1400, A1700, A2000 и A2400</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock  %}

{% block extra_head %} {% endblock  %}