{% extends 'django_project/price-cummins.html' %}

{% block home_section %}
<div>
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Запчасти на автомобили с двигателями Cummins</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="page-depth" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="http://red-diesel.ru/"><span itemprop="name">Главная</span></a><meta itemprop="position" content="1" /></li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="name">Техника с двигателями Cummins</span><meta itemprop="position" content="2" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block tabs_section %}
<section class="tabs-section">
    <div class="container">
    {% for car_category in  cars %}
                <div style="display:inline-block; width:14%; margin:10px">
                    <a href="{{ car_category.url|default:car_category.name }}">{{ car_category.name }}</a>
                    {% for photo in car_category.photos.all %}
                        <a href="{{ car_category.url|default:car_category.name }}"><img src="http://red-diesel.ru/static/uploads/{{ photo.image }}" width="100%"></a>
                    {% endfor %}
                </div>
    {% endfor %}
    </div>
</section>
</div>
{% endblock  %}